html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: 'Mukta Vaani', sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* height: 60px; */
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eeeeee;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

